@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root{
    --primary-color : #BEF264;
    --dark-green:#166534;
    --off-white:#ECFCCB;
    --dark-gray: #6B7280;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: #F7FEE7;
    /* font-weight: 400; */
}
hr{
    margin: 2rem;
}
/* SPACES */
.margin-top{
    margin-top: 4rem;
}
.padding-top{
    padding-top: 4rem;
}
/* CONTAINER */
.container{
    padding:0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/* LINKS */
.link{
    text-decoration: none;
    /* box-sizing: border-box; */
    padding: 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    
}

.link-primary{
    background-color: var(--primary-color);
    color:var(--dark-green);
    border-radius: 0.5rem;
    display: block;
    max-width: 150px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary{
    border: 1px solid var(--dark-green) ;
    color: var(--dark-green);
    border-radius: 0.5rem;
    display: block;
    max-width: 150px;
    margin: 1rem 1rem 1rem 0rem;
}

/* LIST */
.list-non-bullet{
    list-style: none;

}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* NAVIGATION */

.navigation{
    background-color: var(--primary-color)
    ;
    color:var(--dark-green) ;
    padding: 1rem;
    border-bottom-left-radius:0.5rem ;

}

.nav-brand{
    font-weight: bolder;
    font-style: inherit;
    font-size: x-large;
}

.navigation .nav-pill{
    text-align: right;
}

.navigation .link{
    color: var(--dark-green); 
    font-weight:bold;
    /* font-size: x-large; */
}

.navigation .link-active{
    font-weight: bold;
    font-size: x-large;
}

/* HEADER */
.hero{
    padding: 2rem ;
    margin: auto;
}
.hero .hero-img{
    display: block;
    max-width: 550px;
}
.hero .hero-heading{

    text-align: center;
    font-size: x-large;
    padding-top: 1rem;
    color: var(--dark-green);
}
.hero .hero-heading .heading-inverted{
    color:#14532D;
    font-size: larger;
}

 /* SECTION */
.section{
    padding: 2rem;
}
.section h1{
    text-align: left;
     
}
.section p{
    text-align: left;
}
.section a{
    text-align: left;
}
.ow{
    background-color: var(--off-white);
     /* border-radius: 2rem; */
}

/* FOOTER */
.footer{
    background-color: var(--primary-color);
    color: #166534;
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius:0.5rem ;
}

.footer-header{
    font-weight: bolder;
    font-size: x-large;
}

.footer .link{
    color:var(--dark-green);
}

.footer ul{
    padding-inline-start: 0px;
}

.article-project {
    padding: 2rem;
}

.article-blog {
    padding-bottom: 6rem;
}


