@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
* {
  padding: 0;
  margin: 0;
}
:root {
  --primary-color:#F87171 ;
  --dark-green: white;
  --off-white: #FED7AA;
  --dark-gray:#404040;
  --blog-color:#FFF7ED;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #FFEDD5;
  color: #525252;
  /* font-weight: 400; */
}
h1{
    color: var(--dark-gray);
}
hr {
  margin: 2rem 0rem;
  border: 1px solid #D4D4D4;
}
/* SPACES */
.margin-top {
  margin-top: 4rem;
}
.padding-top {
  padding-top: 4rem;
}
/* CONTAINER */
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/* LINKS */
.link {
  text-decoration: none;
  /* box-sizing: border-box; */
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  color: var(--dark-green);
  border-radius: 0.5rem;
  display: block;
  max-width: 140px;
  margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 0.5rem;
  display: block;
  max-width: 140px;
  margin: 1rem 1rem 1rem 0rem;
}

/* LIST */
.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* NAVIGATION */

.navigation {
  background-color: var(--primary-color);
  color: var(--dark-green);
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
}

.nav-brand {
  font-weight: bolder;
  font-size: xx-large;
  font-family: 'Caveat', cursive;
}

.navigation .nav-pill {
  text-align: right;
}

.navigation .link {
  color: var(--dark-green);
  font-weight: bold;
  padding: 0rem;
  /* font-size: x-large; */
}

.navigation .link-active {
  font-weight: bold;
  font-size: x-large;
}

/* HEADER */
.hero {
  padding: 2rem;
  margin: auto;
}
.hero .hero-img {
  display: block;
  max-width: 80%;
  width: 350px;
}
.hero .hero-heading {
  text-align: center;
  font-size: x-large;
  padding-top: 1rem;
  color: var(--primary-color);
}
.hero .hero-heading .heading-inverted {
  color:#EF4444;
  font-size: larger;
  font-size: 30px;
}
.hero p{
    color: #7F1D1D;
    text-align: center;
    display: block ;
    max-width: 500px;
    padding: 1rem 0rem;
    margin: auto;
    font-style: italic;
    font-size: large;
}

/* SECTION */
.section {
  padding: 2rem;
}
.section h1 {
  text-align: left;
}
.section p {
  text-align: left;
}
.section a {
  text-align: left;
}
.ow {
  background-color: var(--off-white);
  /* border-radius: 2rem; */
}

/* FOOTER */
.footer {
  background-color: var(--primary-color);
  color: var(--dark-green);
  padding: 1rem;
  text-align: center;
  border-top-right-radius: 2rem;
}

.footer .footer-header {
  font-weight: bolder;
  font-size: x-large;
  padding: 2rem 1rem;
}

.footer .link {
  color: var(--dark-green);
  font-weight: bold;
  padding: 0rem;
}

.footer ul {
  padding-inline-start: 0px;
}
.footer-github{
  max-width: 75px;
  border-radius:50%;
  padding: 0px;
  background-color:white;
  max-width:3rem ;
  /* height: 3rem; */
  border: 2px solid black;
  margin: 0rem 0.5rem;
}

.footer-linkedin{
  max-width: 75px;
  /* border-radius:70%; */
  padding: 0px;
  background-color: white;
  max-width:3rem ;
  border-radius: 0.5rem;
}

.footer-twitter{
  max-width: 50px;
  /* border-radius:70%; */
  padding: 0px;
  background-color: var(--primary-color);
  max-width:3rem ;
  border-radius: 0.5rem;
}


.footer-instagram{
  max-width: 75px;
  /* border-radius:70%; */
  padding: 0px;
  background-color:var(--primary-color);
  max-width:3rem ;
  border-radius: 0.5rem;
}
.article-project {
  padding: 2rem;
}

.article-blog {
  padding:0rem 2rem 2rem 2rem;
}

/* NAVIGATION BADALTOY */

/* BLOGS */
.blog-circleImg{    
  align-self: center;
  border-radius: 50%;
  max-width: 60px;
}

.blog-margin{
  margin: auto;
  margin-top: 4rem;
  margin-left: 3rem;
  margin-bottom: 4rem;
  margin-right: 3rem;

}

.blog-margin hr{
  margin: 1rem 0rem;
  border: 1px solid #D4D4D4;
}


.quote {
  font-weight: 550;
  font-style: italic;
  color: #525252;
  border-left-width: .25rem;
  border-left-color: var(--primary-color);
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}

.meme-img{
  margin-top: 0.7em;
  margin-bottom: 2em;
  max-width: 100%;
  height: auto;
}

.blog-color{
  background-color: var(--blog-color);
}